div {
    margin: 0;
    outline: medium none;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
th, td {
    vertical-align: top;
}
form {
    margin: 0;
    padding: 0;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, blockquote, th, td {
    margin: 0;
    padding: 0;
}
html {
    background-color: #F1F4FC;
}
img, body, html {
    border: 0 none;
}
body {
    background-color:#F1F4FC;
    color: #000000;
    font: 0.8em "Arial","Helvetica Neue",Veradana,Helvetica,sans-serif;
    overflow: auto;
}
body * {
    font-size: 1em;
    line-height: 1.4em;
}

ul li {
    list-style-type: disc;
}

.workspace {
	background-color:#FFFFFF;
    display: block;
    margin: auto;
    position: relative;
    text-align: left;
    width: 1090px;
}

#topcontainer {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 18em;
    position: relative;
    margin-top:5px;
}

a.fimlogo:link, a.fimlogo:visited, a.fimlogo:hover, a.fimlogo:active {
    background: url("../images/image_banner.png") no-repeat scroll 0 0 transparent;
    height: 245px;
    left: 0;
    position: absolute;
    top: 0;
    width: 300px;
}

a.fimlogo2:link, a.fimlogo2:visited, a.fimlogo2:hover, a.fimlogo2:active {
    background: url("../images/oser_vaincre.png") no-repeat scroll 0 0 transparent;
    height: 545px;
    width: 365px;
}


.menu {
    display: block;
    padding-top: 20px;
	margin:0;
}


.menulinkUL, .menulinkUL li {
    display: block;
    margin: 0;
    padding: 0;
}


.menulinkUL li {
    display: block;
    float: left;
    width: 142px;
}


.menulinkUL li.li_menulink:first-child{
    border-left: medium none;
    width: 150px;
}

.menulinkUL li a {   
    color: #FFFFFF;
    display: block;
    font-size: 1.3em;
    padding-left: 5px;
    text-decoration: none;
    
}

a.menulink{
    background-color:#086BAD;
    border-left: 1px solid white;
    line-height: 30px;
}

a.menulink_first:link{
    background-color:#086BAD;
    border-top-left-radius: 5px;
    border-left: 1px solid #FFFFFF;
    line-height: 35px;
    margin-top: -5px;
}

.menulinkUL li a:visited, .menulinkUL li a:hover, .menulinkUL li a:active
{
    text-decoration: underline;
}


.HomeLeftTDContainer {
    padding-right: 10px;
    width: 310px;
}


.UIHomePage {
    background: none repeat scroll 0 0 transparent;
    padding-top: 20px;
    width: 100%;
}

.TLContainer {
    background: none repeat scroll 0 0 transparent;
    float: left;
    width: 100%;
}

.overview {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 1em;
}

.ctitle {
    color: #086BAD;
    font-size: 1.5em;
    margin-bottom: 10px;
    padding-bottom: 5px;
}


.footer {
    clear: both;
    display: block;
    margin-top: 4px;
}

#areacontainer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#area {
    background: none repeat scroll 0 0 #086BAD;
    border: 1px solid #086BAD;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #FFFFFF;
    min-height: 20px;
    padding: 20px;
    text-align: center;
}
#area a {
    color: #FFFFFF;
    text-decoration: none;
}
#area a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.boldtext
{
  color:#086BAD;
  font-weight:bold;
}

input[type="submit"], input[type="button"] {
    background-color: #086BAD;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,Helvetica,Verdana,Tahoma,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-right: 4px;
    margin-top: 0;
    min-width: 60px;
    padding: 2px;
}

.FORMULAR-PANEL {
    border: 1px solid #086BAD;
    margin: 5px;
    padding: 10px;
}

.ClearBoth {
    clear: both;
    font-size: 0;
    height: 0;
}